.mar-r5 {
  margin-right: 5px;;
}

.mar-t20 {
  margin-top: 20px;
}

.mar-l20 {
  margin-left: 20px;
}

.mar-r18 {
  margin-right: 18px;
}

.mar-r16 {
  margin-right: 16px;
}

.mar-l16 {
  margin-left: 16px;
}

.mar-r10 {
  margin-right: 10px;;
}

.must-icon {
  color: red;
  margin-right: 5px;
}

// 左上角logo
.header-logo {
  width: 100%;
  line-height: $header-height;
  height: $header-height;
  @include flex-center-h;
  color: $color5;
  background: $color1;
  border-bottom: 1px solid $color4;
}

// 头部左侧
.hearder-left {
  height: 100%;
  @include flex-start-h;
  .collapse-btn {
    height: 100%;
    @include flex-start-h;
  }
}

// 头部导航鼠标悬浮
.header-trigger {
  height: 100%;
  @include flex-center-h;
  padding: 0 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    background: $color7;
  }
}

// 头部右侧
.header-right {
  height: 100%;
  padding-right: 24px;
  @include flex-start-h;
  .user {
    @include flex-start-h;
  }
}

// 左菜单
.flex-1 {
  flex: 1;
}

.full-height {
  height: 100%;
}

// 右侧内容容器
.main-inner {
  // height: 100%;
  // @include flex-between-v;
  // flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding: 0 24px;
}

// 用户管理
.user-management,
.role-management,
.menu-management,
.user-profile,
.easy4j-main {
  height: 100%;
  @include easy4j-card-body;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .form-container {
    @include flex-start-h;
  }
}

// 表单生成
.create-form {
  height: 100%;
  @include easy4j-card-body;
  @include flex-between-v;
  .widget-form-main.el-main {
    overflow: hidden;
  }
}

// 可拖拽菜单
.draggable-components {
  @include flex-between-v;
  .draggable-collapse {
    .el-collapse-item__header {
      font-size: 20px;
    }
  }
  .components-block {
    padding: 1%;
    // .components-title {
    //   font-weight: 500;
    //   font-size: 24px;
    // }
    .tag-container {
      @include flex-start-h;
      flex-wrap: wrap;
      .el-tag {
        width: 48%;
        margin: 1%;
        cursor: move;
      }
    }
  }
}

// 拖拽后表单展示
.widget-form {
  height: 100%;
  background-color: #E9EEF3;
  padding: 10px;
  .widget-form-list-container {
    height: 100%;
    .widget-form-list {
      height: 100%;
    }
  }
}

.selected-item {
  padding: 10px 5px;
  cursor: move;
  margin-bottom: 5px;
  border: 1px dotted #ccc;
}

.selected-item-active {
  border: 2px solid #00f!important;
}

.add-btn {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed;
  border-color: #eee;
  cursor: pointer;
  line-height: 32px;
  border-radius: 4px;
  margin: 20px 0;

  &:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
}


// 发送表单
.send-container {
  padding: 20px;
  margin: 0px -20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

// 表格上方操作按钮容器
.options-container {
  margin-bottom: 18px;
}

// 分页容器
.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

// 覆盖el-form-item嵌套el-form-item样式
.has-mar-b .el-form-item {
  margin-bottom: 22px!important;
}

// 选择框
.full-width-select.el-select, .full-width-select.el-cascader {
  width: 100%;
}

.full-width-select.el-date-editor.el-input,
.full-width-select.el-date-editor.el-input__inner {
  width: 100%;
}