// 页签
.easy4j-opened-tab {
  @include flex-start-h;
  margin: 6px 24px;
  .tab-pre {
    margin-left: -6px;
  }
  .toggle-btn {
    @include flex-center-h;
    height: 100%;
    padding: 0 6px;
    cursor: pointer;
  }
  .opened-tabs {
    flex: 1;
    @include flex-start-h;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

// 表格容器
.basic-table-container {
  flex: 1;
  height: 100%;
}
