.all-container.el-container {
  height: 100%;
}

.el-main {
  padding: 0;
}

.all-main.el-main {
  background: $color3;
  @include flex-between-v;
  overflow: hidden;
}

.all-header.el-header {
  height: $header-height!important;
  color: $color2;
  background: $color5;
  @include flex-between-h;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  padding: 0;
  font-size: 14px;
}

.all-aside.el-aside {
  height: 100%;
  @include flex-between-v;
}

.all-menu.el-menu {
  height: 100%;
  border-right: 0;
  .el-menu-item {
    padding: 0 30px;
    .tran-i {
      color: transparent;
    }
  }
  // .el-submenu__title {
  //   padding-left: 24px!important;
  // }
}

.x-hidden {
  overflow-x: hidden!important;
}

.all-footer.el-footer {
  height: $height36!important;
  background: #fff;
  border-top: 1px solid $color6;
  @include flex-start-h;
}

.breadcrumb-container {
  .el-tag {
    cursor: pointer;
  }
}

.easy4j-form {
  .el-form-item {
    // margin-bottom: 0;
    margin-right: 10px;
  }
}

.esay4j-tag.el-tag {
  cursor: pointer;
}

// 下拉菜单字体颜色
.el-dropdown-link {
  cursor: pointer;
  color: $--color-primary;
}

.full-height-dialog .el-dialog {
  height: 90%!important;
  .account-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
