*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: #515a6e;
}

#app {
  height: 100%;
  width: 100%;
}