*{
  -webkit-tap-highlight-color: transparent;
}
.main-inner.mobile {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #fff;
  &>div.table-main-box {
    width: 100%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    .el-table {
      width: 100%;
      overflow-y: auto;
    }
  }
}

.main-inner.desktop {
  height: 92%;
  min-height: 600px;
  overflow-y: auto;
  &>div {
    height: 100%;
    background: #fff;
    box-sizing: border-box;
  }
  &>div.table-main-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 400px;
    padding: 20px;
    .el-table {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .el-table__body-wrapper {
        flex: 1;
        height: 90%;
        overflow: auto;
      }
    }
  }
}

.main-inner.tablet {
  @extend .desktop;
}
